@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Saiba mais sobre <a href="https://learn.microsoft.com/aspnet/core">construindo aplicativos da Web comASP.NET Core</a>.</p>
</div>
